QPushButton[buttonColor="amber"] { background-color: #F39C12; }
QPushButton[buttonColor="amber"]:checked { background-color: #C7800F; border-color: #F6B54D; }

QPushButton[buttonColor="black_hair"] { background-color: #36454F; }
QPushButton[buttonColor="black_hair"]:checked { background-color: #2C3941; border-color: #68747B; }

QPushButton[buttonColor="blonde"] { background-color: #E5C07B; }
QPushButton[buttonColor="blonde"]:checked { background-color: #BC9D65; border-color: #ECD09C; }

QPushButton[buttonColor="blue"] { background-color: #2980B9; }
QPushButton[buttonColor="blue"]:checked { background-color: #226998; border-color: #5FA0CB; }

QPushButton[buttonColor="brown"] { background-color: #8B5A2B; }
QPushButton[buttonColor="brown"]:checked { background-color: #724A23; border-color: #A88360; }

QPushButton[buttonColor="brunette"] { background-color: #4A2C20; }
QPushButton[buttonColor="brunette"]:checked { background-color: #3D241A; border-color: #776158; }

QPushButton[buttonColor="cyan"] { background-color: #0097A7; }
QPushButton[buttonColor="cyan"]:checked { background-color: #007C89; border-color: #40B1BD; }

QPushButton[buttonColor="dark_blonde"] { background-color: #A67B5B; }
QPushButton[buttonColor="dark_blonde"]:checked { background-color: #88654B; border-color: #BC9C84; }

QPushButton[buttonColor="green"] { background-color: #27AE60; }
QPushButton[buttonColor="green"]:checked { background-color: #208F4F; border-color: #5DC288; }

QPushButton[buttonColor="grey"] { background-color: #808080; }
QPushButton[buttonColor="grey"]:checked { background-color: #696969; border-color: #A0A0A0; }

QPushButton[buttonColor="indigo"] { background-color: #4F5BD5; }
QPushButton[buttonColor="indigo"]:checked { background-color: #414BAF; border-color: #7B84E0; }

QPushButton[buttonColor="lime"] { background-color: #7CB342; }
QPushButton[buttonColor="lime"]:checked { background-color: #669336; border-color: #9DC671; }

QPushButton[buttonColor="orange"] { background-color: #E67E22; }
QPushButton[buttonColor="orange"]:checked { background-color: #BD671C; border-color: #EC9E59; }

QPushButton[buttonColor="pink"] { background-color: #D81B60; }
QPushButton[buttonColor="pink"]:checked { background-color: #B1164F; border-color: #E25488; }

QPushButton[buttonColor="platinum"] { background-color: #E5E4E2; }
QPushButton[buttonColor="platinum"]:checked { background-color: #BCBBB9; border-color: #ECEBE9; }

QPushButton[buttonColor="purple"] { background-color: #8E44AD; }
QPushButton[buttonColor="purple"]:checked { background-color: #74388E; border-color: #AA73C2; }

QPushButton[buttonColor="red"] { background-color: #E74C3C; }
QPushButton[buttonColor="red"]:checked { background-color: #BD3E31; border-color: #ED796D; }

QPushButton[buttonColor="silver"] { background-color: #C0C0C0; }
QPushButton[buttonColor="silver"]:checked { background-color: #9D9D9D; border-color: #D0D0D0; }

QPushButton[buttonColor="teal"] { background-color: #009688; }
QPushButton[buttonColor="teal"]:checked { background-color: #007B70; border-color: #40B0A6; }

QPushButton[buttonColor="yellow"] { background-color: #D4AC0D; }
QPushButton[buttonColor="yellow"]:checked { background-color: #AE8D0B; border-color: #DFC14A; }
