QPushButton[buttonColor="red"] { background-color: #E74C3C; }
QPushButton[buttonColor="orange"] { background-color: #E67E22; }
QPushButton[buttonColor="amber"] { background-color: #F39C12; }
QPushButton[buttonColor="yellow"] { background-color: #D4AC0D; }
QPushButton[buttonColor="lime"] { background-color: #7CB342; }
QPushButton[buttonColor="green"] { background-color: #27AE60; }
QPushButton[buttonColor="teal"] { background-color: #009688; }
QPushButton[buttonColor="cyan"] { background-color: #0097A7; }
QPushButton[buttonColor="blue"] { background-color: #2980B9; }
QPushButton[buttonColor="indigo"] { background-color: #4F5BD5; }
QPushButton[buttonColor="purple"] { background-color: #8E44AD; }
QPushButton[buttonColor="pink"] { background-color: #D81B60; }
